<footer class="py-5 border-top border-light-subtle" style="background-color: #f9f9f9;">
  <div class="container-lg">
    <div class="row">

      <!-- Logo y redes sociales -->
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="footer-menu">
          <%= image_tag "logo.png", alt: "Logo", class: "img-fluid", style: "max-height: 70px;" %>
          <div class="social-links mt-3">
            <ul class="d-flex list-unstyled gap-2">
              <li>
                <a href="https://www.facebook.com" target="_blank" class="btn btn-outline-light">
                  <i class="fab fa-facebook-f"></i>
                </a>
              </li>
              <li>
                <a href="https://api.whatsapp.com/send?phone=543564....." target="_blank" class="btn btn-outline-light">
                  <i class="fab fa-whatsapp"></i>
                </a>
              </li>
              <li>
                <a href="https://www.instagram.com/" target="_blank" class="btn btn-outline-light">
                  <i class="fab fa-instagram"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <!-- Enlaces de navegación -->
      <div class="col-md-3 col-sm-6">
        <div class="footer-menu">
          
        </div>
      </div>

      <!-- Información de contacto -->
      <div class="col-md-6 col-sm-12">
        <div class="footer-menu">
          <h5 class="widget-title">Información de contacto</h5>
          <ul class="menu-list list-unstyled">
            <li>
              <i class="fas fa-map-marker-alt me-2"></i> Av. Vélez Sársfield 3685, Córdoba Capital
            </li>
            <li>
              <i class="fab fa-instagram me-2"></i> <a href="https://www.instagram.com" target="_blank">@dispensario.portena</a>
            </li>
            <li>
              <i class="fas fa-envelope me-2"></i> <a href="mailto:info@dispensario.portena.com.ar">info@dispensario.portena.com.ar</a>
            </li>
            <li>
              <i class="fas fa-phone me-2"></i> +54 9 351 761-5994
            </li>
          </ul>
        </div>
      </div>

    </div>
  </div>
</footer>