    <section>
      <div class="hero-image-wrapper">
        <%= image_tag "banner-1.jpeg", class: "img-fluid w-100", alt: "Imagen Dispensario Porteña" %>
      </div>
    </section>


    

    

    

    

    

    

    

    